
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

@import "tailwindcss";

/* 3️⃣ CSS variable */

:root{
  --font-primary:"Bricolage Grotesque", sans-serif;
}

/* 4️⃣ Global font */
@layer base {
  body {
    font-family: var(--font-primary);
  }
}


